.nav-top {
	padding: 10px 0;
	background-color: #2e2e2e;
	color: white;
	.nav-top-container {
		width: 1000px;
		margin: auto;
		.nav-logo {
			height: 36px;
		}
		.nav-list-top {
			overflow: hidden;
			display: flex;
			list-style: none;
			margin: 0 10px;
			padding: 0;
			li {
				margin: 0 10px;
			}
		}
		.text-right {
			text-align: right;
		}
		a {
			color: white;
		}
	}
}

.nav-bot {
	padding: 7px 0;
	background-color: #e4e4e4;
	color: black;
	.nav-bot-container {
		width: 1000px;
		margin: auto;
		.nav-logo {
			height: 36px;
		}
		.nav-list-bot {
			overflow: hidden;
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0 10px;
			}
		}
		.pull-right {
			display: flex;
			justify-content: flex-end;
		}
		a {
			color: black;
		}
	}
}
