.just-for-you {
	background: url("https://static-zmp3.zadn.vn/skins/zmp3-v5.1/images/discover_background.png")
		center center / cover no-repeat;
	height: 130px;
	padding: 18px;

	img {
		width: 90px;
	}
}
