.wchart-item-album-wrapper {
	padding: 15px 0;
	border-bottom: 1px solid #dbdbdb;
	display: flex;
	.thumbnail {
		position: relative;
		.rank {
			position: absolute;
			bottom: 5px;
			left: 5px;
			color: #ffffff;
			font-size: 20px;
			font-weight: bold;
		}
	}
	.info {
		margin-left: 10px;
		.title,
		.artist {
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			text-overflow: ellipsis;
			width: 200px;
		}
		.count {
			font-size: 12px;
		}
	}
}
