.top3-item {
	border: gray 1px solid;
	border-radius: 3px;
	color: white;
	padding: 2px;
	z-index: 100;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
	// :hover {
	// 	background: rgba(255, 255, 255, 0.15) !important;
	// }

	.title {
		font-size: 12px;
	}

	.top3-img {
		width: 32px;
		height: 32px;
		margin: 0 3px;
	}

	.rank-1 {
		color: blue;
	}
	.rank-2 {
		color: green;
	}
	.rank-3 {
		color: red;
	}
}
