.top3-item {
	border: gray 1px solid;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 2px;

	// :hover {
	// 	background-color: rgba(255, 255, 255, 0.15);
	// }

	.top3-img {
		width: 32px;
		height: 32px;
		margin: 0 3px;
	}

	.rank {
		font-weight: bold;
	}
	.rank-1 {
		@extend .rank;
		color: blue;
	}
	.rank-2 {
		@extend .rank;
		color: green;
	}
	.rank-3 {
		@extend .rank;
		color: red;
	}
}
