.track-list-wrapper {
	.scroll-zone {
		padding-right: 5px;
		max-height: 80vh;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}
		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 20px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}
}
