.top5-item-wrapper {
	padding: 10px;
	.rank,
	.status {
		font-weight: bold;
		font-size: 20px;
		margin-right: 5px;
	}
	.rank-1 {
		@extend .rank;
		color: blue;
	}
	.rank-2 {
		@extend .rank;
		color: green;
	}
	.rank-3 {
		@extend .rank;
		color: red;
	}
	.rank-4,
	.rank-5 {
		@extend .rank;
		color: gray;
	}
	.status-up {
		color: green;
	}
	.status-down {
		color: red;
	}
	.status-neutral {
		color: gray;
	}
}
.border-bottom {
	border-bottom: 1px solid gray;
}
