.border-bottom {
	border-bottom: 1px solid gray;
}

.name-overflow {
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	width: 160px;
}
