.nav-search {
	height: 30px;
	width: 355px;
}

.nav-search > input {
	width: 321px;
	height: 30px;
	border: none;
	outline: none;
	padding: 0 15px;
	background: padding-box;
}
.nav-search > button {
	width: 34px;
	border: none;
	background: none;
	padding: 0;
	display: inline-block;
}
