.music-item {
	padding: 10px 5px;
	border-bottom: 1px solid gray;

	.title {
		overflow: hidden;
		display: block;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		width: 200px;
	}
}

.music-item-1 {
	@extend .music-item;
	padding: 5px;
	color: white;
	font-size: 15px;
	a {
		color: white;
	}
}
