.cmt-item {
	border-bottom: 1px solid;
	margin-bottom: 10px;
	padding-bottom: 10px;

	#avartar-container {
		margin-left: 10px;
	}
	#avatar {
		width: 70px;
		height: 70px;
	}

	.content {
		small {
			float: right;
		}
	}
}
