.audio-player-wrapper {
	outline: none;
	border: none;
	background-color: transparent !important;
	button {
		outline: none;
	}
	.rhap_progress-container {
		outline: none;
	}
	.rhap_time {
		color: white;
	}
	.rhap_volume-bar-area {
		outline: none;
	}
}
