.thumbnail {
	transition: all 0.5s ease-in-out;
	position: relative;
	cursor: pointer;

	:hover {
		filter: brightness(70%);
	}
	.btn-play {
		border: none;
		background: none;
		outline: none;
		position: absolute;
		transition: all 0.5s ease-in-out;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		cursor: pointer;

		z-index: 1000;
		span {
			font-size: 30px;
		}
		:hover {
			color: white;
			filter: brightness(200%);
		}
	}
}
