.top3-item-info-wrapper {
	display: flex;
	align-items: center;
	img {
		width: 32px;
		height: 32px;
		margin: 0 3px;
	}
	.info {
		overflow: hidden;
		display: block;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		width: 100px;
		.title {
			font-size: 12px;
		}
	}
}
