.button-group-inline-wrapper {
	display: flex;
	width: 40px;
	justify-content: space-between;
	button {
		background: none;
		border: none;
		padding: 0px;
		outline: none;
		cursor: pointer;
		:hover {
			color: #721799;
		}
		span {
			font-size: 15px;
		}
	}
}
