.track-item-wrapper {
	padding: 10px 0px;
	border-bottom: 1px solid #dbdbdb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.info {
		width: -webkit-fill-available;
		.title {
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			text-overflow: ellipsis;
			max-width: 200px;
			width: fit-content;
		}
	}
}
