.chart-top3-item {
	border: 1px solid gray;
	border-radius: 3px;
	width: 180px;
	height: 35px;
	padding: 5px;
	font-size: 14px;
	display: flex;
	color: white;
	justify-content: space-between;
	align-items: center;
}
.chart-top3-item:hover {
	background: rgba(255, 255, 255, 0.15);
}

.chart-top3-img {
	border: white 1px solid;
	border-radius: 2px;
	margin-right: 5px;
	width: 28px;
	height: 28px;
}

.top3-item-middle {
	display: flex;
	align-items: center;
}

.top3-item-info {
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

.top3-item-info > small {
	font-size: 10px;
}
