body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.d-flex {
	display: flex;
}

.justify-bw {
	justify-content: space-between;
}
.justify-ar {
	justify-content: space-around;
}
.align-center {
	align-items: center;
}
.bg-dark {
	background: black;
	color: white;
}

.bg-light {
	background: white;
}
.bg-gray {
	background: #e4e4e4;
}

.container {
	width: 1000px;
	margin: auto;
	height: 100%;
}

.nav-list {
	display: flex;
	list-style: none;
	justify-content: space-around;
	padding: 0;
}
.link {
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}

.text-light {
	color: white;
}

.text-dark {
	color: black;
}
.text-blue {
	color: blue;
}
.text-green {
	color: green;
}
.text-red {
	color: red;
}
.text-gray {
	color: gray;
}

.row {
	display: flex;
	width: 100%;
}
.col {
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin: 5px;
}
.col-2 {
	width: 66.67%;
}

.col-1 {
	width: 33.33%;
}

.col-0-5 {
	width: 50%;
}

.col-0 {
	width: 100%;
	margin: 10px 0;
}

.text-upper {
	text-transform: uppercase;
}
.text-cap {
	text-transform: capitalize;
}

.icon {
	vertical-align: text-top;
}

.p-relative {
	position: relative;
}
.p-absolute {
	position: absolute;
}

.tag {
	background-image: linear-gradient(90deg, #4936d7 0%, #8d50e3 100%);
	border-radius: 25px;
	padding: 2px 8px 4px 8px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.tag:hover {
	background-image: linear-gradient(90deg, #8d50e3 0%, #4936d7 100%);
}

.text-small {
	font-size: 12px;
}
.text-big {
	font-size: 18px;
}
.title.small {
	font-size: 12px !important;
}
.title.big {
	font-size: 15px !important;
}

.icon-small {
	font-size: 20px;
}

.wchart-header {
	width: 33.33%;
	background: #ecf0f1;
	border: none;
	padding: 10px;
	font-size: 16px;
}
.wchart-header:hover {
	border-top: 2px solid #721799;
}
.wchart-header-active {
	background: white;
	/* border: solid 1px;
	border-width: thin; */
	border-top: 2px solid #721799;
}
.btn-to-top {
	background: #721799;
	position: fixed;
	bottom: 30px;
	right: 30px;
	height: 45px;
	width: 45px;
	text-align: center;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}
.btn-to-top:focus {
	outline: none;
}
