.nav-top-wrapper {
	padding: 10px 0;
	background-color: #2e2e2e;
	color: white;
	.nav-top-container {
		width: 1000px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
