.player-wrapper {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url("//static-zmp3.zadn.vn/skins/zmp3-v5.1/images/default2/1190x350.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: darken;
	height: 300px;
	position: relative;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 0 10px 0;
	.player-header {
		display: flex;
	}
}
